.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4em;

  h1 {
    font-size: 3.5rem;
  }

  img {
    width: 9rem;
    border-radius: 5px;
    margin-top: 1rem;
  }

  h2 {
    margin-top: 1em;
    font-size: 2.25rem;
  }

  p {
    margin-top: 1.2em;
    font-size: 1rem;
    max-width: 600px;
    text-align: center;
  }
  .social-links {
    padding: 1rem;

    .link {
      padding: 0 0 0.3em 0;
      position: relative;
    }

    .link::before {
      content: '';
      display: inline;
      width: 0%;
      height: 0.2em;
      position: absolute;
      bottom: 0;
      transition: width 0.2s ease-in;
    }

    .link:hover::before, .link:focus::before {
      width: 100%;
    }

    .link-icons {
      margin: 1rem;
    
      
      .icon {
        font-size: 3rem;
      }
    }
  }

}