@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;500;700&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100vw;
  min-height: 100vh;
  background: $bg;
  color: $alt-lilac;
  transition: 0.5s;

  main {
    max-width: 1100px;
    width: 95%;
    margin: 0 auto; 
  }

  .logo {
    color: $dark-lilac;
    font-weight: bold;
  }

  .title {
    text-align: center;
    margin-bottom: 1em;
    text-transform: uppercase;
    font-size: 1.8rem;
  }

  ul {
    list-style: none;
  }

  .link:hover {
    color: $dark-lilac;
  }

  .link::before {
    background-color: $dark-lilac;
  }

  .link-nav {
    color: $lilac;
  }

  .btn {
    color: $dark-lilac;
  }

  span {
    color: $dark-lilac;
  }
  p {
    color: $lilac;
  }

  .link-icons {
    color: $lilac;
  }

  .skill-btn {
    background-color: $dark-bg;
    color: $lilac;
  }

  .contact-btn {
    color: $bg;
    border:  2px solid $dark-lilac;
    background-color: $dark-lilac;
  }

  .contact-btn:hover, .contact-btn:focus {
    color: $bg;
    border-color: $alt-lilac;
    background-color: $alt-lilac;
  }

  .contact-btn:before {
    background-color: $bg;
  }

  .footer-link{
    color: $lilac;
  }

}

.container.light {
  background-color: $lilac;
  color: $bg;

  .logo {
    color: $dark-bg;
  }

  .link-nav {
    color: $bg;
  }

  .btn {
    color: $dark-bg;
  }

  .contact-btn:hover, .contact-btn:focus {
    color: $dark-lilac;
    border-color: $bg;
    background-color: $bg;
  }

  .link:hover {
    color: $dark-lilac;
  }

  .link::before {
    background-color: $dark-lilac;
  }

  .link-nav {
    color: $bg;
  }

  span {
    color: $dark-lilac;
  }
  p {
    color: $bg;
  }

  .link-icons {
    color: $bg;
  }

  .skill-btn {
    background-color: $dark-lilac;
    color: $bg;
  }

  .footer-link{
    color: $bg;
  }
}

